body{
    background-image: url("http://eskipaper.com/images/weather-wallpaper-1.jpg");
    background-size: cover;
}

.content{
    width: 1100px;
    height:857px;
    margin: 20px auto;
    background-color: rgba(245, 245, 220, 0.64);
    text-align: center;
    border-radius: 30px;
    box-shadow: 1px 1px 20px black;
}

#text{
    font-family: 'Raleway', sans-serif;
    font-size: 25pt;
    padding-top: 30px;
}

.chart{
    box-shadow: 1px 1px 20px black;
    width: 950px;
    padding-left: 120px;
    padding-top: 20px;
    border-radius: 0px;
}

#info{
    position : absolute;
    background-color: rgba(0,0,0,0.8);
    padding: 5px;
    color : white;
    height: 50px;
    border-radius: 10px;
    font-family: monospace;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
}
